.search-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.search-box input {
    width: 200px;
    height: 30px;
}

.search-box button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

table {
    border: 3px solid gainsboro;
    font-family: "Times New Roman", sans-serif;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    font-size: 20px;
}

table thead a {
    text-decoration: none;
    color: #ef4444;
    display: inline-block;
    margin: 3px;
}

table td,
table th {
    padding: 10px;
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

table tbody {
    text-align: left;
}

table tbody tr td:first-child {
    text-align: center;
    font-weight: bold;
}

.bottom {
    display: flex;
    gap: 20px;
}

.bottom .total {
    order: 1;
}
